.DS_Store
._*
Thumbs.db
System Volume Information/
build/tools/
os/*.img
os/*.iso
os/release/
os/boot/*.bin
os/kernel/*.bosx
os/kernel/*.elf
os/kernel/*.o
os/kernel/ldll_lib*.inc
os/kernel/lib*.ldll
os/kernel/lafillo_demo_data.inc
os/kernel/releases_lardd.inc
os/kernel/boot_stage*.inc
os/kernel/app_*.inc
os/include/version_gen.h
os/lang/examples/*.bosx
os/lang/examples/*.elf
os/lang/examples/*.o
os/os-image.bin
os/os-image-iso.bin
